<navigation></navigation>

  <div class="form-group col-md-4">
    <label for="user">User</label>
    <input type="text" class="form-control" id="user" ng-model="user.username" placeholder="User">
  </div>
  <div class="form-group col-md-4">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
  </div>
  <div class="btn btn-sm col-md-8">
    <button ng-click="controller.login(user)" class="btn btn-sm">Login</button>
  </div>
  
  


